<!--
För att göra radbrytning, använd <br>.

ex.
Lorem<br>Ipsum

visas som:
Lorem
Ipsum

Stycken skrivs: <p>Min styckestext</p>
 -->

<h2 class="w3-text-theme">
  Aktiviteter
</h2>

<span class="w3-large">Cowboy Kampen</span>
<p>Spännande 5-kamp med grenar som yxkastning, blåsrör, lassokastning, gevärsskytte, hästskokastning, bågskytte, pistolskytte och klättervägg. 
Grenarna anpassas efter gästens önskemål. Varar i 1,5-2,5 timme. Prisutdelning till vinnarna. </p>


<span class="w3-large">Teamkampen</span>
<p>Teambuilding med utmanande tävlingsgrenar som sammansvetsar gruppen och stärker relationerna. Exempel på grenar är “bygga ord”, “genom knopen” och “alle man på kubb”. 
Grenarna anpassas efter gästens önskemål. Varar i 1,5-2,5 timme. Prisutdelning till vinnarna.</p>
<span class="w3-large">Uppdrag i vildmarken</span>
<p>Äventyr i skog och mark. Utmaningar längs vägen; "Alpfotboll", 18 m klippklättring eller rappellering, ta er över å med rep och stavar mm. Utrustning medföljer; rep, stavar mm, inklusive fika. 4 km lång och ca 5 timmar.
 Äventyret är både en naturupplevelse och en utmaningen för både individen och teamet.</p>

