<!--
För att göra radbrytning, använd <br>.

ex.
Lorem<br>Ipsum

visas som:
Lorem
Ipsum

Stycken skrivs: <p>Min styckestext</p>
 -->

<h2 class="w3-text-theme">
  Special
</h2>

<p>
Aenean lorem orci, fermentum id interdum nec, efficitur sit amet
augue. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
posuere cubilia Curae; Donec accumsan gravida nunc vitae pellentesque.
</p>

<p>
Integer sed massa velit. Morbi cursus aliquam sapien eget pharetra.
Aenean facilisis lobortis tempor. Vestibulum cursus ligula id tortor
fringilla, vel maximus leo bibendum. Praesent vestibulum erat sem, a
cursus odio pulvinar at. Nulla facilisi. Nunc augue lectus, pulvinar
sed mauris quis, tempor hendrerit odio. Curabitur quis nisi rutrum
mauris suscipit aliquet at sed risus.
</p>
