<!--
För att göra radbrytning, använd <br>.

ex.
Lorem<br>Ipsum

visas som:
Lorem
Ipsum

Stycken skrivs: <p>Min styckestext</p>
 -->

<h2 class="w3-text-theme">
  Logi
</h2>

<div class="w3-card w3-margin-bottom w3-round">
  <div class="w3-row">
    <div class="w3-col w3-container" style="width: 25%">
      <img src="img/set_mock-img_cabin_01.jpg" class="w3-padding-16 w3-left" style="width: 100%;" alt="Avatar">
    </div>
    <div class="w3-col w3-container" style="width: 25%">
      <p>
        <span class="w3-large"> Stuga 1 - 4 </span>
      </p>
    </div>
    <div class="w3-col w3-container" style="width: 50%">
      <p>
        3 bäddar; 1 dubbelsäng och 1 enkelrum.
        <br>
        Allrum med öppen spis och tv.
        <br>
        Fullt utrustat kök.
        <br>
        Toalett med dusch.
        <br>
        Altan under tak med utemöbler och grill.
      </p>
    </div>
  </div>
</div>

<div class="w3-card w3-margin-bottom w3-round">
  <div class="w3-row">
    <div class="w3-col w3-container" style="width: 25%">
      <img src="img/set_mock-img_cabin_02.jpg" class="w3-padding-16 w3-left" style="width: 100%;" alt="Avatar">
    </div>
    <div class="w3-col w3-container" style="width: 25%">
      <p>
        <span class="w3-large"> Stuga 5 - 12 </span>
      </p>
    </div>
    <div class="w3-col w3-container" style="width: 50%">
      <p>
        7 bäddar; 1 dubbelsäng, 1 våningssäng, 1 enkelrum och 1 loft med 2 bäddar.
        <br>
        Stort allrum med öppen spis och tv.
        <br>
        Fullt utrustat kök.
        <br>
        Toalett med dusch.
        <br>
        Stor altan under tak med utemöbler och grill.
      </p>
    </div>
  </div>
</div>

<br>
<span class="w3-large">Handikappanpassad: Stuga 10</span>
<br>
<span class="w3-large">Med husdjur: Stuga 12</span>
<br>

<span class="w3-large">Special:</span>
<br>
Stuga 5 och 6: Fantastisk utsikt
<br>
Stuga 11 och 12: När till promenad/jogging slingor
<br>
Stuga 1 och 2: Nära till matsal
<br>
<br>

<span class="w3-large">Bra att veta:</span>
<br>
Timrad bastustuga med allrum och öppen spis.
<br>
Utomhuspool öppen maj till augusti
<br>
I närheten ﬁnns vandringsleder, strövområden i vacker bok- skog samt ﬁske- och badsjöar.
<br>
Konferenslokal ﬁnns att tillgå.
<br>
Det är 5 km till Höör där du ﬁnner affärer, bank, post och goda buss- och tågförbindelser.
<br>
<br>

<span class="w3-large"> Detta måste gästen ha med sig/inte ha med sig:</span>
<br>

<ul class="w3-ul">
  <li>Sänglinne och handdukar. Täcken och kuddar finns i stugor och Trapperhouse.</li>
  <li>Hushållspapper och kaffefilter. Kaffekokare, vattenkokare, toalettpapper och handtvål finns i stugor och Trapperhouse.</li>
  <li>Kökshanddukar. Disktrasa, diskborste och diskmedel finns i stugor och Trapperhouse.</li>
  <li>Grillkol, tändvätska och tändstickor. Grill finns på altan under tak i stugor och även utanför Trapperhouse.</li>
  <li>Ved finns att köpa på Camp Wild West kostnad 60 kr per säck.</li>
  <li>Badkläder och badlakan för bad i utomhuspoolen ( öppen maj t.o.m augusti ).</li>
  <li>Oömma kläder, skor och ficklampa för fritids sysselsättning i skog och mark.</li>
  <li>Städmaterial finns i stugor och i Trapperhouse. Städning görs av gäst innan avresa.</li>
  <li>Klotter i stugor och Trapper house är förbjudet. All förstörelse debiteras.</li>
</ul>
<br>
<span class="w3-large">Prislista:</span>
<br>

<table class="w3-table w3-striped w3-bordered w3-border">
<tr>
  <th>Stuga</th>
  <th>Vecka</th>
  <th>Helg</th>
  <th>Dygn</th>
</tr>
<tr>
  <td>Lågsäsong</td>
  <td>3750 kr</td>
  <td>1495 kr</td>
  <td>950 kr</td>
</tr>
<tr>
  <td>Högsäsong</td>
  <td>5500 kr</td>
  <td>1995 kr</td>
  <td>950 kr</td>
</tr>
<tr>
  <th>Stuga</th>
  <th>Vecka</th>
  <th>2 dygn</th>
  <th>3 dygn</th>
</tr>
<tr>
  <td>Storhelg</td>
  <td>5500 kr</td>
  <td>3500 kr</td>
  <td>2500 kr</td>
</tr>
</table>
<br>

<p>
Lågsäsong: v 2–17, v 40–50 <br>
Högsäsong: v 18–39<br>
Storhelg: v 1, 25, 51–52<br>
Hyra av bastustuga: 200 kr för 3 timmar 
</p>
Alla priser inkl moms och med reservation för ändringar
<br>
