<!--
För att göra radbrytning, använd <br>.

ex.
Lorem<br>Ipsum

visas som:
Lorem
Ipsum

Stycken skrivs: <p>Min styckestext</p>
 -->

<h2 class="w3-text-theme">Brandsäkerhet</h2>

<p>Vid brand går ett larm som hörs i alla lokaler samtidigt. Utrymning ska göras omgående. Ansvarig kock på plats ser till att kök och
  personalutrymmen utryms.</p>

<p>Ansvarig i matsalen ser till att alla offentliga utrymmen; matsal, gästtoaletter, entré, garderob och konferensrum utryms.</p>

<p>Den som föst upptäcker branden har ansvar att larma 112. Ange adress: Wild West Eating, Långbanevägen 105, 333 33 Grönlunden</p>

<p>Uppsamlingsplats är på den stora parkeringen bakom huvudbyggnaden.</p>