<!--
För att göra radbrytning, använd <br>.

ex.
Lorem<br>Ipsum

visas som:
Lorem
Ipsum

Stycken skrivs: <p>Min styckestext</p>
 -->

<h2 class="w3-text-theme">Hot, inbrott och stöld</h2>

<p>Hot: Vid hot eller sexuella ofredanden meddelas vakterna om sådan finns på plats, om inte meddelas ansvarig i matsalen. Vakt eller matsalsansvarig talar om för gästen vad som gäller och avgör om denne bör visas ut ut lokalen.</p>
<hr>
<p>Inbrott: Om du öppnar och upptäcker att vi har haft ett inbrott ska du kontakta restaurangchefen omedelbart. Denne anmäler brottet till polisen och lotsar dig i vilka andra åtgäder som ska vidtas. </p>
<hr>
<p>Stöld: Den som upptäcker stöld ska kontakta restaurangchefen omedelbart. Denne anmäler brottet till polisen och lotsar dig i vilka andra åtgäder som ska vidtas. </p>
