<!--
För att göra radbrytning, använd <br>.

ex.
Lorem<br>Ipsum

visas som:
Lorem
Ipsum

Stycken skrivs: <p>Min styckestext</p>
 -->

<h2 class="w3-text-theme">Egenkontrollprogram</h2>

<p>Nedan finner du en länkar till vårt Egenkontrollprogram. I detta program kan du läsa om vad som gäller för att upprätthålla en god
  hygien och säkerställa att våra gäster inte blir skjuka p g a sina besök hos oss. All personal är skyldig att känna till dessa regler som
  baseras på livsmedelslagen.<br>Läs mer på</p>
<a
  href="http://www.livsmedelsverket.se/globalassets/produktion-handel-kontroll/branschriktlinjer/visitas-branschriktlinjer-for-restauranger.pdf" target="blank">
  Livsmedelsverket</a>
<p>
  <em> Möjlighet att ladda upp ett dokument Exempel: EKP för kökspersonal EKP för serveringspersonal och diskare Spårbarhet
    Grundläggande regler för förvaring av våra livsmedel </em>
</p>
