<!--
För att göra radbrytning, använd <br>.

ex.
Lorem<br>Ipsum

visas som:
Lorem
Ipsum

Stycken skrivs: <p>Min styckestext</p>
 -->

<p class="w3-large">
<!-- Ingress start -->
Alkoholhantering
<!-- Ingress slut -->
</p>

<p>
Vår ambition är att så långt det är möjligt välja svenska
råvaror som kommer från den närmaste omgivningen. Vi vill ha
grönsaker från en jord alldeles nära oss och ibland längre ifrån.
Du kommer märka att menyn på Grythyttans Gästgivaregård förändras
i takt med säsongen. Oavsett årstid och maträtt kryddar vi alltid
med mycket kärlek.
</p>

<div class="w3-container w3-section w3-leftbar">
<p>
<i>
<!-- Citatblock start -->
"Här tas inga genvägar. Endast de bästa råvarorna används
i både nyskapande såväl som klassiska rätter, vackert upplagda
och serverade."
<!-- Citatblock slut -->
</i>
</p>
</div>

<p>
Hos oss är helheten och upplevelsen av mat och dryck i
kombination med miljön den serveras det viktigaste. Här tas inga
genvägar. Endast de bästa råvarorna används i både nyskapande
såväl som klassiska rätter, vackert upplagda och serverade.
</p>

<p>
Välkommen in i familjen Spendrups vinkök!
</p>