<!--
För att göra radbrytning, använd <br>.

ex.
Lorem<br>Ipsum

visas som:
Lorem
Ipsum

Stycken skrivs: <p>Min styckestext</p>
 -->

<h2 class="w3-text-theme">Alkoholhantering</h2>

<p>Vi har tillstånd att servera alkohol mellan kl 11.00-01.00. Utanför dessa tider serverar/säljer vi ingen alkohol. Vid varje dag,
  under våra öppettider, finns en ansvarig personal på plats.</p>

<p>Om du känner någon som helst osäkerhet kring att servera alkohol till en gäst, gör det inte förrän du stämt av situationen med
  ansvarig på plats. Alla gäster som kan vara minderåringa skall visa ID innan de blir serverade alkoholhaltiga drycker.</p>
