<div ng-if="news.length == 0" class="w3-container w3-center">
  <span>Loading results...</span>
</div>

<div ng-if="news" class="dn-fade-down-big" ng-repeat="x in news">
  <div id="{{ 'news-object-' + $index }}" class="w3-container w3-card-2 w3-white w3-round w3-margin-bottom">
    <br>
    <img ng-src="{{ x.imgUri=='' ? 'http://placehold.it/477x318&text=noImage' : x.imgUri[0] }}" alt="No image avail." style="width:100%" class="w3-margin-bottom">
    <h4>{{ x.header }}</h4>
    <span>Date: {{ x.createdAt }}</span>
    <p>{{ x.content | limitTo:articleTextLimit}}</p>
    <button type="button" ng-click="expandArticle(articleTextLimit)" class="w3-btn w3-theme-d1 w3-margin-bottom">
      <i class="fa " ng-class="{'fa-plus-circle': iconChange(), 'fa-minus-circle': !iconChange()}"></i> Read
    </button>
    <button type="button" ng-click="toggleEdit(x)" class="w3-btn w3-theme-d1 w3-margin-bottom">
      <a href="#"><i class="fa fa-pencil" ></i> Edit</a>
    </button>
    <div ng-if="x.isEditing">
      <input id="{{ 'edit-header-' + $index }}" type="text" ng-value="x.header" pattern=".{3,}"
        placeholder="write a subject(minimum 3 characters)" required
        class="w3-input w3-border w3-hover-border-black" /> <br /> <label
        for="newsContentField">Content:</label> <br />
      <textarea id="{{ 'edit-content-' + $index }}" pattern=".{12,}" rows="4" cols="50"
        placeholder="write the news(minimum 12 characters)" required
        class="w3-input w3-border w3-hover-border-black" >{{news[$index].content}}</textarea>
      <br />
      <button type="button" ng-click="saveNews(x, $index, statusMessage)" class="w3-btn w3-theme-d1 w3-margin-bottom">Save</button>
      <button type="button" ng-click="toggleEdit(x)" class="w3-btn w3-theme-d1 w3-margin-bottom">Cancel</button>
      <button type="button" ng-click="deleteNews(x, statusMessage)" class="w3-btn w3-theme-d1 w3-margin-bottom">Delete</button>
      <p>{{statusMessage}}</p>
    </div>
  </div>
</div>

<div ng-if="news" class="w3-container w3-center">
  <button type="button" ng-show="limit < maxLimit" ng-click='expandList()' class="w3-btn w3-margin">Load more</button>
</div>
