<div ng-if="news.length == 0" class="w3-container w3-center">
  <span>Loading results...</span>
</div>

<div ng-if="news" class="dn-fade-down-big" ng-repeat="x in news">
  <div id="{{ 'news-object-' + $index }}" class="w3-container w3-card-2 w3-white w3-round w3-margin-right w3-margin-bottom w3-margin-left">
    <br>
    <img ng-src="{{ x.imgUri=='' ? 'http://placehold.it/477x318&text=noImage' : x.imgUri[0] }}" alt="No image avail." style="width:100%" class="w3-margin-bottom">
    <h4>{{ x.header }}</h4>
    <span>Date: {{ x.createdAt }}</span>
    <p>{{ x.content | limitTo:articleTextLimit}}</p>
    <button type="button" ng-click="expandArticle(articleTextLimit)" class="w3-btn w3-theme-d1 w3-margin-bottom">
      <i class="fa " ng-class="{'fa-plus-circle': iconChange(), 'fa-minus-circle': !iconChange()}"></i> Read
    </button>
  </div>
</div>

<div class="w3-container w3-center">
  <button type="button" ng-show="limit < maxLimit" ng-click='expandList()' class="w3-btn w3-margin">Load more</button>
</div>
