<!--
För att göra radbrytning, använd <br>.

ex.
Lorem<br>Ipsum

visas som:
Lorem
Ipsum

Stycken skrivs: <p>Min styckestext</p>
 -->

<h2 class="w3-text-theme">Leverantörer</h2>

<p>
<b>Livsmedel</b>
<br>
<em>Martin&Servera</em> 
<br>
Utesäljare: Ulla Karlsson 0708-111111
<br>
Innesäljare: Inge Matlåda 0708-222222
</p>
<hr>

<p>
<b>Viner</b>
<br>
<em>Jakobsson & Söderström </em> 
<br>
Kontkatperson: Isa Champange 0708-333333
<br>
Beställning Fredagar
<br>
Leverans Tisdagar
</p>
<hr>

<p>
<b>Förbrukningsvaror</b>
<br>
<em>Staples</em> 
<br>
Säljare: Kalle Block 0708-444444
<br>
Beställning Måndagar
<br>
Leverans Torsdagar
</p>
<hr>

<p>
<b>Tvätt</b>
<br>
<em>Berendsen</em> 
<br>
Kontaktperson: Sara Vit 0708-555555
<br>
Beställning Måndagar
<br>
Leverans Torsdagar
</p>

