<!--
För att göra radbrytning, använd <br>.

ex.
Lorem<br>Ipsum

visas som:
Lorem
Ipsum

Stycken skrivs: <p>Min styckestext</p>
 -->

<h2 class="w3-text-theme">Samarbetspartner</h2>

<p>
<b>Svenska möten</b>
<br>
Kontaktperson: Lisa Åkerfelt 0708-666666
<br>
Avtal: <a href="http://medlemsweb.svenskamoten.se/login/newlogin.aspx" target="blank">http://medlemsweb.svenskamoten.se/login/newlogin.aspx</a>
</p>
<hr>

<p>
<b>Konferens.se</b>
<br>
Kontaktperson: Mattias Referens 0708-777777
<br>
Vårt erbjudande: <a href="http://www.konferens.se/aktuellt/erbjudanden" target="blank">http://www.konferens.se/aktuellt/erbjudanden</a>
</p>
<hr>
