<!--
För att göra radbrytning, använd <br>.

ex.
Lorem<br>Ipsum

visas som:
Lorem
Ipsum

Stycken skrivs: <p>Min styckestext</p>
 -->

<p class="w3-large">
<!-- Ingress start -->
Leverantörer
<!-- Ingress slut -->
</p>

<p>
Aenean lorem orci, fermentum id interdum nec, efficitur sit amet
augue. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
posuere cubilia Curae; Donec accumsan gravida nunc vitae pellentesque.
<br>
Duis sagittis finibus turpis. Vestibulum auctor porta pellentesque.
Donec quis nunc quis eros interdum vehicula vitae ac magna.
</p>

<table class="w3-table w3-striped w3-bordered w3-border">
<tr>
  <th>Aktivitet</th>
  <th>Datum</th>
  <th>Pris</th>
</tr>
<tr>
  <td>Golf</td>
  <td>6 augusti</td>
  <td>460 kr</td>
</tr>
<tr>
  <td>Vinprovning</td>
  <td>12 september</td>
  <td>890 kr</td>
</tr>
<tr>
  <td>Kajak</td>
  <td>4 oktober</td>
  <td>300 kr</td>
</tr>
</table>

<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
scelerisque sem sit amet lectus tincidunt, at pulvinar libero cursus.
Suspendisse ultrices sagittis dolor in pellentesque.
</p>
