<!-- Navbar -->
<div class="w3-top" ng-controller="NavbarController">
  <ul class="w3-navbar w3-theme-d2 w3-left-align w3-large">
    <li class="w3-hide-large w3-opennav w3-right">
      <a class="w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="showDiv('navDemo')">
        <i class="fa fa-bars"></i>
      </a>
    </li>
    <li>
      <a href="#" class="w3-padding-large w3-theme-d4">
        <i class="fa fa-home w3-margin-right w3-hide-small"></i>
        Service Experience Tool
      </a>
    </li>

    <div class="w3-hide-small w3-hide-medium">
      <ul class="w3-navbar w3-theme-d2 w3-left-align w3-large">
        <!-- Icons -->
        <li>
          <a href="#/newsfeed" class="w3-padding-large w3-hover-white" title="News">
            <i class="fa fa-globe"></i>
          </a>
        </li>
        <li>
          <a href="#/useradmin" class="w3-padding-large w3-hover-white" title="Account Settings">
            <i class="fa fa-user"></i>
          </a>
        </li>
        <li>
          <a href="#/sms" class="w3-padding-large w3-hover-white" title="Messages">
            <i class="fa fa-envelope"></i>
          </a>
        </li>

        <!-- Push notifications -->
        <li class="w3-dropdown-hover">
          <a href="javascript: void(0)" class="w3-padding-large w3-hover-white" title="Notifications">
            <i class="fa fa-bell"></i>
            <span ng-show="hideNotifications()" class="w3-badge w3-right w3-small w3-green">{{pushes}}</span>
          </a>
          <div class="w3-dropdown-content w3-white w3-card-4">
            <div ng-repeat="p in pushObjects">
              <a ng-href="{{p.path}}" class="w3-small" ng-click="selectPush($index)">{{p.message}}</a>
            </div>

          </div>
        </li>

        <!-- Search Bar -->
        <li>
          <input type="text" class="w3-small w3-margin-top" placeholder="Sök..." style="color: black" />
        </li>

        <!-- Tools -->
        <li>
          <a class="w3-padding-large w3-large w3-theme-d2 w3-hover-white" href="#/newsfeed">Nyheter</a>
        </li>
        <li>
          <a class="w3-padding-large w3-large w3-theme-d2 w3-hover-white" href="#/newspublish">Publicera</a>
        </li>
        <li>
          <a class="w3-padding-large w3-large w3-theme-d2 w3-hover-white" href="#/menu">Meny</a>
        </li>
        <li>
          <a class="w3-padding-large w3-large w3-theme-d2 w3-hover-white" href="#/sms">SMS</a>
        </li>
        <li>
          <a class="w3-padding-large w3-large w3-theme-d2 w3-hover-white" href="#/schedule">Schema</a>
        </li>
        <!-- Admin button -->
        <li class="w3-right">
          <a href="#/useradmin" class="w3-padding-large w3-hover-white" title="My Account">
            <img src="img/img_avatar2.png" class="w3-circle" height="25" width="25" alt="Avatar">
          </a>
        </li>
        <li class="w3-right">
          <a class="w3-padding-large w3-large w3-theme-d2 w3-hover-white w3-right" href="#/useradmin">Admin</a>
        </li>
      </ul>
    </div>



  </ul>
</div>

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-hide w3-hide-large  w3-top" onclick="showDiv('navDemo')" style="margin-top: 51px">
  <ul class="w3-navbar w3-left-align w3-large w3-theme">
    <li>
      <a class="w3-small w3-theme-d2 " href="#/newsfeed">Nyheter</a>
    </li>
    <li>
      <a class="w3-small w3-theme-d2 " href="#/newspublish">Publicera</a>
    </li>
    <li>
      <a class="w3-small w3-theme-d2 " href="#/menu">Meny</a>
    </li>
    <li>
      <a class="w3-small w3-theme-d2 " href="#/company">Företagsinfo</a>
    </li>
    <li>
      <a class="w3-small w3-theme-d2 " href="#/useradmin">Admin</a>
    </li>
    <li>
      <a class="w3-small w3-theme-d2 " href="#/schedule">Schema</a>
    </li>
    <li>
      <a class="w3-small w3-theme-d2 " href="#/sms">SMS</a>
    </li>
    <li>
      <a class="w3-small w3-theme-d2 " href="#/other-products">Andra Produkter</a>
    </li>
    <li>
      <a class="w3-small w3-theme-d2 " href="#/program-pm">Program & PM</a>
    </li>
    <li>
      <a class="w3-small w3-theme-d2 " href="#/team">Team</a>
    </li>
    <li>
      <a class="w3-small w3-theme-d2 " href="#/our-guests">Våra Gäster</a>
    </li>
    <li>
      <a class="w3-small w3-theme-d2 " href="#/security">Säkerhet</a>
    </li>
    <li>
      <a class="w3-small w3-theme-d2 " href="#/contacts">Kontakter</a>
    </li>
    <li>
      <a class="w3-small w3-theme-d2 " href="#/salary">Lön</a>
    </li>
  </ul>
</div>
