<div ng-if="!details">
  Loading results...
</div>

<div ng-if="details.statusText==='OK'" class="animate-repeat" ng-repeat="x in details.data | limitTo:limit">
  <div id="{{ 'news-object-' + $index }}" class="w3-container w3-card-2 w3-white w3-round w3-margin-left w3-margin-bottom w3-margin-right"><br>
    <div class="w3-row">
        <img ng-src="{{ x.multimedia=='' ? 'http://placehold.it/477x318&text=noImage' : x.multimedia[3].url }}" alt="No image avail." class="w3-margin-bottom w3-margin-right" style="width: 100%">
        <h4 class="w3-margin-0">{{ x.header }}</h4>
        <p>Date: {{ x.createdAt }}</p>
        <p>{{ x.content }}</p>
    </div>
    <div id="full-article-container" class="w3-accordion-content w3-container">
      <p>Some text..</p>
    </div>
    <button type="button" ng-click="clickMe($event)" class="w3-btn w3-right w3-theme-d3 w3-margin-bottom w3-margin-top">Read more</button>
  </div>
</div>
</div>

<div ng-if="details.Response==='False'">
No results found.
</div>
