<form>
	<label class="w3-label">Titel -</label>
	<input type="text" class="w3-input" id="title" name="titleInput" required>
	
	<label class="w3-label">Beskrivning -</label>
	<textarea class="w3-input" rows="5" cols="50" id="descripion" name="descriptionInput"></textarea>
	
	<label class="w3-label">Datum -</label>
	<input type="date" class="w3-input" id="date" name="dateInput" required>
	
	<label class="w3-label">Start -</label>
	<input type="time" class="w3-input" id="start" name="startInput" required>
	
	<label class="w3-label">Slutar -</label>
	<input type="time" class="w3-input" id="end" name="endInput">
	
	<label class="w3-label">Hela dagen -</label>
	<input type="checkbox" id="isFullDay" name="isFullDayInput" required><br><br>
	
	<input type="submit"><input type="reset">
</form>