<!--
För att göra radbrytning, använd <br>.

ex.
Lorem<br>Ipsum

visas som:
Lorem
Ipsum

Stycken skrivs: <p>Min styckestext</p>

Rubriker med blå text: <h2 class="w3-text-theme">Min Rubrik</h2>
 -->

<h2 class="w3-text-theme">Historia</h2>

<p>Wild West Eating & Fellowship startade 2002. Grundarna är två riktiga cowboys som flyttade till Sverige år 2000 för att upptäcka
  Sverige och dess kultur. Under deras rundresor föddes idén till en ny typ av Western restaurang i Sverige med avslappnad atmosfär och
  prestigelös mat. Man bestämde sig för att allt skulle serveras på buffé så att ingen gäst ska åka hem utan att bli mätt.</p>
<p>Wild West Eating & Fellowships lokaler ligger på en plats som varit en festplats i över 100 år. Platsen har använts för dans och
  umgängelse i generationer.</p>
<p>Huvudbyggnaden är original från 1925. Wild West Eatings grundare har varsamt restaurerat byggnaderna för att behålla gamla
  traditioner och på ett smakfullt sätt väva in Western temat i inredning och design.</p>