<!--
För att göra radbrytning, använd <br>.

ex.
Lorem<br>Ipsum

<li>Visas som:
Lorem
Ipsum

Stycken skrivs: <p>Min styckestext</p>
Rubriker med blå text: <h2 class="w3-text-theme">Min Rubrik</h2>
 -->

<h2 class="w3-text-theme">Miljö & socialt ansvar</h2>

<p>Wild West Eating har som mål att verka för goda värden i hela sin verksamhet. Vi fokuserar på följande områden:</p>
  <span class="w3-large">Miljö</span>
<ul class="w3-ul w3-margin-bottom">
  <li>Vi väljer krav-märkta livsmedel och Svanen märkta förbrukningsvaror så långt vi kan.</li>
  <li>Vi källsorterar alla sopor och inklusive matavfall.</li>
  <li>Vi har som mål att använda förnybar energi från och med år 2018.</li>
</ul>
  <span class="w3-large">Arbetsmiljö</span>
<ul class="w3-ul w3-margin-bottom">
  <li>Vi håller en positiv och lösningsorienterad attityd i allt vårt arbete.</li>
  <li>Vi verkar för respekt och tydlighet mellan varje medarbetare.</li>
  <li>Vi verkar för arbetstider som fungerar väl för varje medarbetare.</li>
</ul>
<span class="w3-large">Socialt ansvar</span>
<ul class="w3-ul w3-margin-bottom">
  <li>Vi verkar för en god atmosfär i den publika miljö vi ansvarar för.</li>
  <li>Vi verkar för att unga personer och nya svenskar ska få en chans i brnaschen genom att erbjuda 3 praktikplatser per kvartal.</li>
  <li>Vi bidrar varje år till minst tre sociala evenemang i vår kommun.</li>
</ul>