#sideNav {
	z-index: 3; 
	width: 250px;
	max-height: 70%;
	posistion: relative; 
	clear: both;
}

.modal {
	z-index: 3;
	padding-top: 50px;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

#userListModal {
	width: 1300px;
	height: 550px;
}

#addUserModal {
	 width: 800px;
}

#manageRolesModal {	height: 600px; }

#checkDiv {
	margin: 0 16px 0 16px;
	text-transform: capitalize;
}

#checkDiv span { 
	margin-top: 5px;
}

#innerCheck  {	
	height: 60px;
	overflow: hidden;
	margin-bottom: 5px;	
}

#innerCheck:hover {
	overflow: auto;
}

/* #scrollup {
	display: flex;
	margin-bottom: 2px;
}

#scrollDown {
	display: flex;
	margin-bottom: 2px;
} */

/* Makes the addUserView overlay the userListView */
#addUserView { z-index: 4; }



/* Scrollable table list */
.tableScroll {
	height: 450px;
	overflow: auto;
}

/* Expandable row styling */
.hiddenRow {
	display: flex;
	text-align: start;
	max-height: 150px;
	overflow: auto;
}

.hiddenRow p {
	margin-top: 0px;
	margin-bottom: 2px;
	font-weight: bold;
}

.wrapper { 
	text-align: center;
	align-self: center;	
}

.wrapper li:nth-child(2) { padding: .5em; }

li { list-style-type: none; }


/* User list table styling */
#userListThead th:first-child  { width: 115px; }

#userListThead th:nth-last-child(2), #userListTbody td:first-child, td:nth-last-child(2) {text-align: center; width: 115px;}

#userListThead th:nth-child(3), th:nth-child(4), #userListTbody td:nth-child(3), td:nth-child(4) { width: 200px; }

#userListThead th:nth-child(2), th:nth-child(6), #userListTbody td:nth-child(2), td:nth-child(6) { width: 170px; }

#userListThead th:nth-child(5), #userListTbody td:nth-child(5) { width: 250px; }

#userListThead input { width: 80%; font-weight: normal;}

#userListThead select { width: 90%; font-weight: normal; }

#userListThead th:last-child, #userListTbody td:last-child { width: 50px; text-align: center; }

#userListTbody img {
	width: 60px;
	height: 60px;
	margin-left: -40px;
}


/* Role list table styling */
#rolesThead th:first-child, th:nth-last-child(2), #rolesTbody td:first-child, td:nth-last-child(2) { width: 115px; text-align: center;}

#rolesThead th:nth-child(2), #rolesTbody td:nth-child(2) { width: 200px;}

#rolesThead th:nth-child(3), #rolesTbody td:nth-child(3) { width: 450px; }

#rolesThead th:nth-child(4), #rolesTbody td:nth-child(4) { width: 100px; }

#rolesThead th:last-child, #rolesTbody td:last-child { width: 50px; text-align: center; }

#rolesThead select { width: 90%; font-weight: normal; }

#rolesThead input { width: 80%; font-weight: normal; }

#inputRolesDiv {
	width: 100%;
	padding: 0 6px 6px 6px;
}

#rolesTbody .hiddenRow ul {
	margin-top: 0px;
	-webkit-padding-start: 0px;
	text-align: start;
}

#rolesTbody li {
	width: 20%;
	float:left;
}

#inputRolesDiv form div label { font-weight: bold; }

#inputRolesDiv .labelLeft {
	float: left;
	margin-left: 3px;
}

.has-error { border-color: red!important; }

.w3-code {border-color:#2196f3 !important}