<!--
För att göra radbrytning, använd <br>.

ex.
Lorem<br>Ipsum

visas som:
Lorem
Ipsum

Stycken skrivs: <p>Min styckestext</p>
 -->

<p class="w3-large">
<!-- Ingress start -->
Stamgäster
<!-- Ingress slut -->
</p>

<p>
Nam congue ipsum eget elit rhoncus, ut varius magna egestas.
Suspendisse tincidunt nulla urna, non hendrerit justo egestas id.
</p>

<table class="w3-table w3-striped w3-bordered w3-border">
<tr>
  <td>John Doe</td>
  <td>6 augusti</td>
</tr>
<tr>
  <td>Jane Doe</td>
  <td>12 september</td>
</tr>
<tr>
  <td>Fooman</td>
  <td>4 oktober</td>
</tr>
</table>

<p>
<em>
Aenean lorem orci, fermentum id interdum nec, efficitur sit amet
augue. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
posuere cubilia Curae; Donec accumsan gravida nunc vitae pellentesque.
</em>
</p>
