<!--
För att göra radbrytning, använd <br>.

ex.
Lorem<br>Ipsum

visas som:
Lorem
Ipsum

Stycken skrivs: <p>Min styckestext</p>
 -->

<h2 class="w3-text-theme">Kvalitetssäkring</h2>

<p>För att säkra konsekvent kvalitet i våra produkter och i vår service använder vi oss av “Mystery Shopping”. Det innebär att en gång
  varannan månad kommer en okänd gäst med syfte att testa kvaliteten på det vi levererar. Vi får sedan en rapport. De i teamet som får höra
  poäng av våra mystery shoppers kommer att bli belönade.</p>
<p>Tripadvisor är ett annat sätt för oss att mäta kvaliteten i våra produkter. Den medarbetare som blir omnämnd i Tripadvisor eller i
  vår gästbok för gott arbete kommer att bli belönad.</p>