<!--
För att göra radbrytning, använd <br>.

ex.
Lorem<br>Ipsum

visas som:
Lorem
Ipsum

Stycken skrivs: <p>Min styckestext</p>
 -->

<h2 class="w3-text-theme">Klagomålshantering</h2>

<p>På Wild West Eating & Fellowship vi har som mål att varje gäst ska gå ut genom dörren med än nöjd och med en önskan att komma
  tillbaka. Med denna ambition har vi olika strategier för “service recovery”:</p>

<p>För mindre händelser i matsalen har all personal efter egen förmåga rätt att avgöra att bjuda på kaffe och en chokladbit till den
  gäst eller det sällskap som är missnöjda.</p>
  
<p>För mer omfattande händelser i matsalen eller i samband med övernattning har all personal som jobbar regelbundet och på schema rätt
  att avgöra att erbjuda</p>
  
<ul class="w3-ul">
  <li>ett presentkort i restaurangen på lämpligt belopp, max 250kr per gäst.</li>
  <li>en kokbok signerad av vår köksmästare, värde 270kr.</li>
</ul>

<p>Extra personal rådgör med fast personal på plats.</p>

<p>Varje missnöjd gäst ska mötas med respekt, vänlighet och förståelse. Lyssna på vad gästen har att säga och se till att du förstår
  varför gästen är missnöjd. Ta reda på om informationen du får stämmer. Om det stämmer visa gästen att du har genuin förståelse för
  missnöjet och notera vad vi skulle gjort bättre/annorlunda för att det inte ska hända igen. Erbjud lämplig kompensation enligt ovan.</p>
  
<p>Om informationen inte stämmer, om vi inte begått några misstag utan missnöjet beror på missförstånd eller oförståelse hos gästen:
  Lyssna och tala om för gästen att du förstår denne. Försök att på ett vänligt och respektfullt sätt förklara varför situationen uppstått
  och försök finna förståelse. Om gästen är fortsatt missnöjd hitta en lämplig kompensation. En missnöjd gäst kostar oss långt mer än 250
  kr!</p>
  
<p>
  <em>OBS! Undvik att ge pengar som kompensation om det är möjligt. </em>
</p>