<!--
För att göra radbrytning, använd <br>.

ex.
Lorem<br>Ipsum

visas som:
Lorem
Ipsum

Stycken skrivs: <p>Min styckestext</p>
 -->

<h2 class="w3-text-theme">Glada gäster</h2>

<p>
  <em> Möjlighet att ladda upp ett dokument per stamgäst
  <br>
  Exempel:
  <br> 
  Volvo 25 april - Tack för fantastiska dagar
  <br>
  Eva Larsson 3 mars - Vi älskar ert ställe och ert engagemang
  <br>
  Lotta och Carl 29 februari - Stort tack för en helt otrolig bröllopsmiddag
  </em>
</p>