<div class="w3-theme-d2 w3-padding-ver-16 w3-margin-bottom">
   	<h1>
       	Kategorier
   	</h1>
</div>
<ul class="w3-ul w3-margin-bottom" ng-repeat="cat in categoryList | filter:{parent: 0}:true track by cat.id">
	<li>
		<div class ="w3-row">
			<span class="w3-large"> {{cat.name}} </span>
			<span class="w3-right w3-closebtn w3-margin-left fa fa-remove w3-xlarge" ng-click="deleteCategory(cat)"></span>
			<span class="w3-right w3-closebtn fa fa-pencil-square-o w3-xlarge" ng-click="prepopulateAndToggle(cat, categoryForm)"></span>
		</div>
	</li>
	<li class="w3-margin-left" ng-repeat="subCat in categoryList | filter:{parent: cat.id}:true track by subCat.id">
		<div class="w3-row w3-margin-left">
	 		<span class="w3-large"> {{subCat.name}} </span>
	 		<span class="w3-right w3-closebtn w3-margin-left fa fa-remove w3-xlarge" ng-click="deleteCategory(subCat)"></span>
	 		<span class="w3-right w3-closebtn fa fa-pencil-square-o w3-xlarge" ng-click="prepopulateAndToggle(subCat, categoryForm)"></span>
		</div>
	</li>
	<li>
		<button class="w3-btn w3-green" ng-click="prepopulateAndToggle({parent: cat.id}, categoryForm)">Lägg till subkategori</button>
	</li>
</ul>
<div>
	<button class="w3-btn w3-green" ng-click="prepopulateAndToggle({parent: 0}, categoryForm)">Lägg till kategori</button>
</div>
	
<!-- Category Edit Form Modal -->
<div class="modal" ng-show="categoryForm.visible">
	<div class="w3-modal-content w3-card-8">
		<div class="w3-theme-d2 w3-padding-ver-16">
			<span ng-click="toggleModal(categoryForm)" class="w3-closebtn fa fa-times w3-xlarge w3-padding-hor-4"></span>
			<h3>Redigera kategori</h3>
		</div>
		<div class="w3-container">
			<div ng-include="'app/menu/edit/categoryform.html'"></div>
		</div>
	</div>
</div>