<div ng-repeat="cat in categoryList | filter:{parent: 0}:true">
	<h4>{{cat.name}}</h4>
	<ul class="w3-ul w3-margin-bottom">
		<li ng-repeat="item in menuItemList1 | filter:{category: cat.id}:true track by item.id">
			<div class="w3-row">
				{{item.name}}
				<span class="w3-right w3-closebtn w3-margin-left fa fa-remove w3-xlarge" ng-click="deleteMenuItem(item)"></span>
				<span class="w3-right w3-closebtn fa fa-pencil-square-o w3-xlarge" ng-click="prepopulateAndToggle(item, itemForm)"></span>
			</div>
		</li>
		<!-- ng-if="(menuItemList1 | filter:{category: cat.id}:true).length" -->
		<li ng-if="(!(categoryList | filter:{parent: cat.id}:true).length) || ((menuItemList1 | filter:{category: cat.id}:true).length)">
			<button class="w3-btn w3-green" ng-click="prepopulateAndToggle({category: cat.id}, itemForm)">Lägg till</button>
		</li>
	</ul>
	<div class="w3-margin-left" ng-repeat="subCat in categoryList | filter:{parent: cat.id}:true">
		<h4>{{subCat.name}}</h4>
		<ul class="w3-ul w3-margin-bottom">
			<li ng-repeat="item in menuItemList1 | filter:{category: subCat.id}:true track by item.id">
				<div class="w3-row">
					{{item.name}}
					<span class="w3-right w3-closebtn w3-margin-left fa fa-remove w3-xlarge" ng-click="deleteMenuItem(item)"></span>
					<span class="w3-right w3-closebtn fa fa-pencil-square-o w3-xlarge" ng-click="prepopulateAndToggle(item, itemForm)"></span>
				</div>
			</li>
			<li>
				<button class="w3-btn w3-green" ng-click="prepopulateAndToggle({category: subCat.id}, itemForm)">Lägg till</button>
			</li>
		</ul>
	</div>
</div>
<div ng-if="(menuItemList1 | filter:nullCategoryFilter()).length">
	<h4>Kategori saknas</h4>
	<ul class="w3-ul w3-margin-bottom">
		<li ng-repeat="item in menuItemList1 | filter:nullCategoryFilter() track by item.id">
			<div class="w3-row">
				{{item.name}}
				<span class="w3-right w3-closebtn w3-margin-left fa fa-remove w3-xlarge" ng-click="deleteMenuItem(item)"></span>
				<span class="w3-right w3-closebtn fa fa-pencil-square-o w3-xlarge" ng-click="prepopulateAndToggle(item, itemForm)"></span>
			</div>
		</li>
	</ul>
</div>


<!-- Menu Item Edit Form Modal -->
<div class="modal" ng-show="itemForm.visible">
	<div class="w3-modal-content w3-card-8">
		<div class="w3-theme-d2 w3-padding-ver-16">
			<span ng-click="toggleModal(itemForm)" class="w3-closebtn fa fa-times w3-xlarge w3-padding-hor-4"></span>
			<h3>Redigera menypost</h3>
		</div>
		<div class="w3-container">
			<div ng-include="'app/menu/edit/itemform.html'"></div>
		</div>
	</div>
</div>