<!--
För att göra radbrytning, använd <br>.

ex.
Lorem<br>Ipsum

visas som:
Lorem
Ipsum

Stycken skrivs: <p>Min styckestext</p>
 -->

<div class="w3-card-4 w3-margin">
<header class="w3-container w3-theme-l4">
  <h1>PM</h1>
</header>

<div class="w3-container">
<p>
Nam congue ipsum eget elit rhoncus, ut varius magna egestas.
Suspendisse tincidunt nulla urna, non hendrerit justo egestas id.
</p>
<p>
Aenean lorem orci, fermentum id interdum nec, efficitur sit amet
augue. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
posuere cubilia Curae; Donec accumsan gravida nunc vitae pellentesque.
</p>
<button class="w3-btn w3-theme-action w3-right w3-margin">
Ta bort
</button>
</div>
<footer class="w3-container w3-theme-l4">
  <h5>Avdelning</h5>
</footer>
</div>

<br>

<ul class="w3-ul">
  <li>Endast de bästa råvarorna används i både nyskapande
såväl som klassiska rätter</li>
  <li>Du kommer märka att menyn på Grythyttans Gästgivaregård förändras
i takt med säsongen</li>
  <li>Vi vill ta med dig på en kulinarisk resa och
fortsätta göra långsiktiga avtryck på den gastronomiska kartan</li>
</ul>
<br>