<!--
För att göra radbrytning, använd <br>.

ex.
Lorem<br>Ipsum

visas som:
Lorem
Ipsum

Stycken skrivs: <p>Min styckestext</p>
 -->

<p>
Vår ambition är att så långt det är möjligt välja svenska
råvaror som kommer från den närmaste omgivningen. Vi vill ha
grönsaker från en jord alldeles nära oss och ibland längre ifrån.
Du kommer märka att menyn på Grythyttans Gästgivaregård förändras
i takt med säsongen. Oavsett årstid och maträtt kryddar vi alltid
med mycket kärlek.
</p>

<ul class="w3-ul">
  <li>Endast de bästa råvarorna används i både nyskapande
såväl som klassiska rätter</li>
  <li>Du kommer märka att menyn på Grythyttans Gästgivaregård förändras
i takt med säsongen</li>
  <li>Vi vill ta med dig på en kulinarisk resa och
fortsätta göra långsiktiga avtryck på den gastronomiska kartan</li>
</ul>