<!DOCTYPE html>
<html>
<title>SET User administration</title>
<meta name="viewport" content="width=device-width, initial-scale=1"
	charset="UTF-8">
<link rel="stylesheet" href="css/jquery-ui.min.css">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet"
	href="http://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' type="text/css"
	href="https://fonts.googleapis.com/css?family=Open+Sans">
<link rel="stylesheet"
	href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
<script src="js/jquery-2.2.3.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<style>
html, body, h1, h2, h3, h4, h5 {
	font-family: "Open Sans", sans-serif
}

#userform button {
	margin-bottom: 8px;
}

.adminViewModal {
	margin-top: -55px;
}

#userListmodal {
	width: 1300px;
	max-height: 620px;
}

#addUserModal {
	width: 800px;
}

#manageRolesModal {
	height: 600px;
}

#constrainer {
	height: 600px;
}

table {
	overflow-y: scroll;
}

tbody {
	height: 580px;
	overflow-y: scroll;
}

#checkDiv {
	text-transform: capitalize;
}

#inputRolesDiv {
	padding-bottom: 6px;
	text-align: left;
}
</style>
<body class="w3-theme-l5">

	<header class="w3-container w3-blue-grey">
		<h3>Service Experience Tool</h3>
	</header>

	<div class="w3-sidenav w3-collapse w3-white w3-animate-left w3-card-2"
		style="z-index: 3; width: 250px; posistion: relative; clear: both">
		<a href="#" class="w3-border-bottom w3-large">User Administration</a>
		<a href="javascript:void(0)" onclick="w3_close()"
			class="w3-text-teal w3-hide-large w3-closenav w3-large">Close <i
			class="fa fa-remove"></i></a> <a href="#" class="w3-light-grey w3-medium">Home</a>
		<a href="#" id="addUser">Add user</a> <a href="#" id="listUsers">List
			all users</a> <a href="#" id="manageRoles">Manage roles</a>
	</div>

	<div id="myTop" class="w3-container w3-theme w3-large">
		<i
			class="fa fa-bars w3-opennav w3-hide-large w3-xlarge w3-margin-left w3-margin-right w3-margin-top"
			onclick="w3_open()"></i>
	</div>

	<div class="w3-overlay w3-hide-large w3-animate-opacity"
		onclick="w3_close()" style="cursor: pointer"></div>

	<div id="useradmin_home" class="w3-main" style="margin-left: 250px;">
		<div
			class="w3-container w3-padding-hor-32 w3-padding-ver-64 w3-margin-top">
			<h1 class="w3-text-blue-grey">SET user administration</h1>
			<h5>Use the navigation menu to administer users and groups.</h5>
			<ul class="w3-leftbar w3-theme-border" style="list-style-type: none">
				<li>Add user: add a new user to the Service Experience Tool.</li>
				<li>List users: get a complete list of all users in the system.</li>
				<li>Manage roles: to add new roles/groups and add users to the
					roles.</li>
			</ul>
			<br>

			<h2 class="w3-section w3-text-blue-grey">Demo</h2>
			<div class="w3-example w3-section">
				<h3>User view</h3>
				<div class="w3-code notranslate htmlHigh">
					<p>Some pic illustrating the user view goes here...</p>
					<br> <br> <br> <br> <br>
				</div>
			</div>
			<br>
		</div>
	</div>
	<div id="addUserView" class="w3-modal adminViewModal"
		style="display: none">
		<div id="addUserModal"
			class="w3-modal-content w3-card-8 w3-animate-zoom">
			<div class="w3-blue-grey w3-padding-ver-16">
				<span onclick="showHide('#addUserView')" class="w3-closebtn">&times;</span>
				<h3>Create SET-user</h3>
			</div>
			<div class="w3-container">
				<form id="userform" name="userForm" action="UserAdminServlet"
					method="post">
					<input type="hidden" ng-model="adminCtrl.user.id" />
					<div class="w3-row-padding">
						<div class="w3-col s6">
							<label> <b>First name</b></label> <input id="firstname"
								class="w3-input w3-border w3-hover-border-black " type="text"
								placeholder="Enter first name" required
								ng-model="adminCtrl.user.firstname">
						</div>
						<div class="w3-col s6">
							<label> <b>Last name</b></label> <input id="lastname"
								class="w3-input w3-border w3-hover-border-black " type="text"
								placeholder="Enter last name" required
								ng-model="adminCtrl.user.lastname">
						</div>
					</div>
					<div class="w3-row-padding">
						<div class="w3-col s6">
							<label><b>Username</b></label> <input id="username"
								class="w3-input w3-border w3-hover-border-black " type="text"
								placeholder="Username" required
								ng-model="adminCtrl.user.username">
						</div>
						<div class="w3-col s6">
							<label> <b>Email</b></label> <input id="email"
								class="w3-input w3-border w3-hover-border-black " type="email"
								placeholder="Enter email address" required
								ng-model="adminCtrl.user.email">
						</div>
					</div>
					<div class="w3-row-padding">
						<div class="w3-col s6">
							<label><b>Phone number</b> </label> <input id="phone"
								class="w3-input w3-border w3-hover-border-black " type="text"
								placeholder="Enter phone number" ng-model="adminCtrl.user.email">
						</div>
						<div class="w3-col s6">
							<label><b>Enable user</b></label> <input type="checkbox"
								class="w3-check w3-input" id="enable" value="false">
						</div>
					</div>
					<div class="w3-row-padding">
						<div class="w3-col s6">
							<label> <b>Password</b>
							</label> <input id="password"
								class="w3-input w3-border w3-hover-border-black "
								type="password" placeholder="Enter Password" required
								ng-model="adminCtrl.user.password">
						</div>
						<div class="w3-col s6">
							<label> <b>Verify password</b>
							</label> <input id="verifypass"
								class="w3-input w3-border w3-hover-border-black "
								type="password" placeholder="Verify Password" required
								ng-model="adminCtrl.user.verifypassword">
						</div>
					</div>
					<div id="checkDiv" class="w3-row-padding w3-margin-bottom">
					<span class="w3-col"> <b>Roles</b></span><br>
					</div>
					<button id="insertUser" type="submit" form="userform"
						class="w3-btn w3-btn-block w3-blue-grey"
						value="insertUser">Save user</button>
					<button type="button"
						class="w3-btn w3-btn-block w3-blue-grey w3-margin-bottom"
						ng-click="adminCtrl.close()" onclick="showHide('#addUserView')"
						ng-disabled="userForm.$pristine">Cancel</button>
				</form>
			</div>
		</div>
	</div>
	<div id="userListView" class="w3-modal adminViewModal"
		style="display: none">
		<div id="userListmodal"
			class="w3-modal-content w3-card-8 w3-animate-zoom">
			<div class="w3-blue-grey w3-padding-ver-16">
				<span onclick="showHide('#userListView')" class="w3-closebtn">&times;</span>
				<h3>SET user list</h3>
			</div>
			<div id="constrainer" class="w3-responsive">
				<table id="userTable"
					class="w3-table w3-bordered w3-striped w3-border w3-hoverable">
					<thead>
						<tr class="w3-light-grey">
							<th>User ID</th>
							<th>First name</th>
							<th>Last name</th>
							<th>Username</th>
							<th>Email address</th>
							<th>Phone number</th>
							<th>Role</th>
							<th>Enabled</th>
							<th>Password reset</th>
							<th> </th>
						</tr>
					</thead>
					<tbody id="usersTableBody">
					</tbody>
				</table>
				<!-- <div class="w3-center">
				<ul class="w3-pagination w3-border">
					<li><a href="#">«</a></li>
					<li><a class="w3-green" href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li><a href="#">»</a></li>
				</ul>
				</div> -->
			</div>
		</div>
	</div>
	<div id="manageRolesView" class="w3-modal adminViewModal"
		style="display: none">
		<div id="manageRolesModal"
			class="w3-modal-content w3-card-8 w3-animate-zoom">
			<div class="w3-blue-grey w3-padding-ver-16">
				<span onclick="showHide('#manageRolesView')" class="w3-closebtn">&times;</span>
				<h3>SET manage roles</h3>
			</div>
			<div id="constrainer" class="w3-responsive">
				<table id="rolesTable"
					class="w3-table w3-bordered w3-striped w3-border w3-hoverable">
					<thead>
						<tr class="w3-light-grey">
							<th>Role ID</th>
							<th>Role name</th>
							<th>Description</th>
							<th>Enabled</th>
						</tr>
					</thead>
					<tbody id="rolesTableBody">
					</tbody>
				</table>
				<div id="inputRolesDiv" class="w3-display-bottommiddle">
					<form id="insertRoleForm" action="UserAdminServlet" method="post"
						class="w3-row-padding">
						<div class="w3-col s2">
							<label><b>Role</b></label> <input id="roleName" type="text"
								class="w3-input w3-border w3-hover-border-black"
								placeholder="Enter role name" required>
						</div>
						<div class="w3-col s7">
							<label><b>Description</b></label> <input id="roleDescription"
								type="text" class="w3-input w3-border w3-hover-border-black"
								placeholder="Enter role description">
						</div>
						<div class="w3-col s1">
							<label><b>Enable</b></label> <input id="roleEnable"
								type="checkbox" class="w3-check w3-input" value="false">
						</div>
						<div class="w3-col s2">
							<label>.</label>
							<button type="submit" form="insertRoleForm"
								class="w3-btn w3-btn-block w3-blue-grey" value="insertRole">Save</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script>
		roleNames = [];
		$(function() {
			$("#addUser").click(function() {
				var data = getRoles(function(data) {
				if (data.isValid) {
					//$("#checkDiv").append('<span class="w3-col"> <b>Roles</b></span><br>');
					$.each(data.roleList, function(index, role) {
						roleNames.push(role.name);
						$("#checkDiv").append(
								'<div class="w3-col l3 m4 s6"><input id="' + role.name + '" class="w3-check" name="' + role.name + '" type="checkbox" value=false> <label for="' + role.name +'">'+ role.name + '</label></div>'	
						)
					});
				}
				});
				showHide("#addUserView");
			});
			$("#checkDiv").on("change", "#admin", function() {
				if($(this).is(':checked')){
					$("#checkDiv :checkbox").not(this).prop("disabled", true);
				} else
					$("#checkDiv :checkbox").not(this).prop("disabled", false);
			});
			$("#userform").on("change", "input[type='checkbox']", function() {
				if($(this).is(':checked'))
					$(this).val(true);
				else
					$(this).val(false);
			});
			$("#usersTableBody tr:last-child").click(function() {
				console.log('Click: ' + this);
			});
			
			$("#listUsers").click(
					function() {
						showHide("#userListView");
						$.getJSON({
							url : 'userAdminServlet',
							data : "getUserList",
							success : function(data) {
								if (data.isValid) {
									console.log(data);
								$.each(data.userList, function(index, user) {
									$("#usersTableBody").append('<tr></tr>');
									$("#usersTableBody tr:last-child").append(
											'<td>' + user.userId + '</td>'
											+ '<td>' + user.firstName + '</td>'
											+ '<td>' + user.lastName + '</td>'
											+ '<td>' + user.username + '</td>'
											+ '<td>' + user.email + '</td>'
											+ '<td>' + user.phoneNumber + '</td>'
											+ '<td>' + user.roles + '</td>'
											+ '<td>' + user.enabled + '</td>'
											+ '<td>' + user.resetPasswords + '</td>'
											+ '<td><i class="fa fa-pencil fa-1" aria-hidden="true"></i></td>'
									);
								});
							} else
								alert("An error occured while retreiving users from database.");
							}
						});
					});
			$("#manageRoles").click(function() {
				showHide("#manageRolesView");
				getRoles(function(data){
					if (data.isValid) {
						$.each(data.roleList, function(index, role) {
							$("#rolesTableBody").append('<tr></tr>');
							$("#rolesTableBody tr:last-child").append(
									'<td>' + role.roleId + '</td>'
											+ '<td>' + role.name
											+ '</td>' + '<td>'
											+ role.description + '</td>'
											+ '<td>' + role.enabled
											+ '</td>');
						});
					} else
						alert("An error occured while retreiving roles from database.");
				});
			});
			$("#userform")
					.submit(
							function(e) {
								e.preventDefault();
								if ($("#password").val() !== $("#verifypass")
										.val()) {
									alert("Passwords doesn't match");
									return;
								} else {
									var roles = [];
									$.each(roleNames, function(index, roleName) {
										if ($("#" + roleName).val() == "true") {
											var role = {[roleName] : true}
											roles.push(role);
										}
									});
									var userformObj = {};
									userformObj.firstName = $("#firstname").val();
									userformObj.lastName = $("#lastname").val();
									userformObj.username = $("#username").val().toLowerCase();
									userformObj.email = $("#email").val();
									userformObj.phoneNumber = $("#phone").val();
									userformObj.password = $("#password").val();
									userformObj.enabled = $("#enabledCheck").val();
									userformObj.roles = roles;
									var jsonUser = JSON.stringify(userformObj);
									$
											.post({
												url : 'userAdminServlet',
												data : {
													"newUser" : jsonUser
												},
												datatype : 'json',
												success : function(data) {
													if (data.isValid) {
														alert("SUCCESS!");
													} else
														alert("An error occured while inserting the new user into the database.");
												}
											});
									showHide('#addUserView');
								}
							});
			$("#insertRoleForm").submit(function(e) {
				e.preventDefault();
				var rolesFormObj = {};
				rolesFormObj.name = $("#roleName").val().toLowerCase();
				rolesFormObj.description = $("#roleDescription").val();
				rolesFormObj.enabled = $("#roleEnable").val();
				var jsonRole = JSON.stringify(rolesFormObj);
				$.post({
					url: 'userAdminServlet',
					data: {"newRole" : jsonRole},
					datatype: 'json',
					success: function(data) {
						$("#insertRoleForm").trigger("reset");
						console.log(data.roleId);
						if (data.isValid) {
							$("#rolesTableBody").append('<tr></tr>');
							$("#rolesTableBody tr:last-child").append(
									'<td>' + data.roleId + '</td>'
											+ '<td>' + rolesFormObj.name
											+ '</td>' + '<td>'
											+ rolesFormObj.description + '</td>'
											+ '<td>' + rolesFormObj.enabled
											+ '</td>');
						} else
							alert("An error occured while inserting the new role into the database.");
					}
				});
			});
		});
		
		function getRoles(callback) {
			$.getJSON({
				url : 'userAdminServlet',
				data : "getRolesList",
				success: function(data) {
					callback(data);
				}
				});
		}
		// Open and close the sidenav on medium and small screens
		function w3_open() {
			document.getElementsByClassName("w3-sidenav")[0].style.display = "block";
			document.getElementsByClassName("w3-overlay")[0].style.display = "block";
		}
		function w3_close() {
			document.getElementsByClassName("w3-sidenav")[0].style.display = "none";
			document.getElementsByClassName("w3-overlay")[0].style.display = "none";
		}
		function showHide(id) {
			if ($(id).css('display') == 'none')
				$(id).css('display', 'block');
			else {
				$(id).css('display', 'none');
				if(id == "#manageRolesView" || id == "#addUserView") {
					$("form").trigger("reset");
				if (id == "#addUserView")
					$("#checkDiv").empty();
				}
				if(id == "#userListView" || id == "#manageRolesView")
					$(id).find("tbody").empty();
			}
		}
	</script>
</body>
</html>