<div class="w3-modal-content w3-card-8 w3-animate-zoom" style="max-width: 600px; margin-top:-55px">
    <div class="w3-blue-grey w3-padding-ver-16">
        <h3>Create SET-user</h3>
    </div>
    <div class="w3-container">
        <form name="userForm" ng-submit="submit()">
            <input type="hidden" ng-model="adminCtrl.user.id" />
            <label>
                <b>First name</b>
            </label>
            <input class="w3-input w3-border w3-hover-border-black w3-margin-bottom" type="text" placeholder="Enter first name" required ng-model="adminCtrl.user.firstname">
            <label>
                <b>Last name</b>
            </label>
            <input class="w3-input w3-border w3-hover-border-black w3-margin-bottom" type="text" placeholder="Enter last name" required ng-model="adminCtrl.user.lastname">
            <label>
                <b>Username</b>
            </label>
            <input class="w3-input w3-border w3-hover-border-black w3-margin-bottom" type="text" placeholder="Username" required ng-model="adminCtrl.user.username">
            <label>
                <b>Email</b>
            </label>
            <input class="w3-input w3-border w3-hover-border-black w3-margin-bottom" type="email" placeholder="Enter email address" required ng-model="adminCtrl.user.email">
            <label>
                <b>Password</b>
            </label>
            <input class="w3-input w3-border w3-hover-border-black w3-margin-bottom" type="password" placeholder="Enter Password" required ng-model="adminCtrl.user.password">
            <label>
                <b>Verify password</b>
            </label>
            <input class="w3-input w3-border w3-hover-border-black w3-margin-bottom" type="password" placeholder="Verify Password" required ng-model="adminCtrl.user.verifypassword">
            <div class="w3-row w3-margin-bottom">
                <span>
                    <b>Groups</b>
                </span><br>
                <div class="w3-col l3 m4 s6">
                    <input ng-model="adminCtrl.role.rec_check" class="w3-check" type="checkbox">
                    <label>Reception</label>
                </div>
                <div class="w3-col l3 m4 s6">
                    <input ng-model="adminCtrl.role.service_check" class="w3-check" type="checkbox">
                    <label>Service</label>
                </div>
                <div class="w3-col l3 m4 s6">
                    <input ng-model="adminCtrl.role.kitchen_check" class="w3-check" type="checkbox">
                    <label>Kitchen</label>
                </div>
                <div class="w3-col l3 m4 s6">
                    <input ng-model="adminCtrl.role.conf_check" class="w3-check" type="checkbox">
                    <label>Conference</label>
                </div>
                <div class="w3-col l3 m4 s6">
                    <input ng-model="adminCtrl.role.maint_check" class="w3-check" type="checkbox">
                    <label>Maintenance</label>
                </div>
                <div class="w3-col l3 m4 s6">
                    <input ng-model="adminCtrl.role.housek_check" class="w3-check" type="checkbox">
                    <label>Housekeeping</label>
                </div>
                <div class="w3-col l3 m4 s6">
                    <input ng-model="adminCtrl.role.admin_check" class="w3-check" type="checkbox">
                    <label>Admin</label>
                </div>
            </form>
        </div>

        <button class="w3-btn w3-btn-block w3-blue-grey w3-margin-bottom" value="{{ !adminCtrl.user.id} ? 'Add' : 'Update'}" ng-disabled="userForm.$invalid">Insert user</button>
        <button type="button" class="w3-btn w3-btn-block w3-blue-grey w3-margin-bottom" ng-click="adminCtrl.close()" ng-disabled="userForm.$pristine">Cancel</button>
    </div>
</div>
</div>
