<!DOCTYPE html>
<html>
<title>SET User administration</title>
<meta name="viewport" content="width=device-width, initial-scale=1"
	charset="UTF-8">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet"
	href="http://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' type="text/css"
	href="https://fonts.googleapis.com/css?family=Open+Sans">
<link rel="stylesheet"
	href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
<style>
html, body, h1, h2, h3, h4, h5 {
	font-family: "Open Sans", sans-serif
}

#userform button {
	margin-bottom: 8px;
}

#userListmodal {
	width: 1300px;
	max-height: 620px;
}

#addUserModal {
	width: 800px;
}

#manageRolesModal {
	height: 600px;
}

#constrainer {
	height: 600px;
}

table {
	overflow-y: scroll;
}
tbody {
	height: 580px;
	overflow-y: scroll;
}

#checkDiv {
	text-transform: capitalize;
}

#inputRolesDiv {
	padding-bottom: 6px;
	text-align: left;
}

.modal {
	z-index: 3;
	padding-top: 50px;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}
#sideNav {
	z-index: 3; 
	width: 250px;
	max-height: 71.5%;
	posistion: relative; 
	clear: both"
}
.hiddenRow {
	display: none;
}
#searchID {
	width: 50px;
}
.w3-select {
	width: 75%;
}
</style>
<body class="w3-theme-l5">
	<div id="sideNav" class="w3-sidenav w3-collapse w3-white w3-animate-left w3-card-2">
		<a href class="w3-border-bottom w3-large">User Administration</a>
		<a href="javascript:void(0)" ng-click="w3_close()"
			class="w3-text-teal w3-hide-large w3-closenav w3-large">Close <i
			class="fa fa-remove"></i></a> <a href="#" class="w3-light-grey w3-medium">Home</a>
		<a href id="addUser" ng-click="showHide('addUserView')">Add user</a> <a href id="listUsers" ng-click="showHide('userListView')">List
			all users</a> <a href id="manageRoles" ng-click="showHide('manageRolesView')">Manage roles</a>
	</div>

	<div id="myTop" class="w3-container w3-theme w3-large">
		<i
			class="fa fa-bars w3-opennav w3-hide-large w3-xlarge w3-margin-left w3-margin-right w3-margin-top"
			ng-click="w3_open()"></i>
	</div>

	<div class="w3-overlay w3-hide-large w3-animate-opacity"
		ng-click="w3_close()" style="cursor: pointer"></div>

	<div id="useradmin_home" class="w3-main" style="margin-left: 250px;">
		<div
			class="w3-container w3-padding-ver-64">
			<h1 class="w3-text-blue-grey">SET user administration</h1>
			<h5>Use the navigation menu to administer users and groups.</h5>
			<ul class="w3-leftbar w3-theme-border" style="list-style-type: none">
				<li>Add user: add a new user to the Service Experience Tool.</li>
				<li>List users: get a complete list of all users in the system.</li>
				<li>Manage roles: to add new roles/groups and add users to the
					roles.</li>
			</ul>
			<br>

			<h2 class="w3-section w3-text-blue-grey">Demo</h2>
			<div class="w3-example w3-section">
				<h3>User view</h3>
				<div class="w3-code notranslate htmlHigh">
					<p>Some pic illustrating the user view goes here...</p>
					<br> <br> <br> <br> <br>
				</div>
			</div>
			<br>
		</div>
	</div>
	<div id="addUserView" class="modal"
		ng-hide="addUserShowHide">
		<div id="addUserModal"
			class="w3-modal-content w3-card-8 w3-animate-zoom">
			<div class="w3-blue-grey w3-padding-ver-16">
				<span ng-click="showHide('addUserView')" class="w3-closebtn">&times;</span>
				<h3>Create SET-user</h3>
			</div>
			<div class="w3-container">
				<form name="newUserForm" ng-submit="submitUser()">
					<input type="hidden" ng-model="userForm.userId" />
					<div class="w3-row-padding">
						<div class="w3-col s6">
							<label> <b>First name</b></label> <input id="firstname"
								class="w3-input w3-border w3-hover-border-black " type="text"
								placeholder="Enter first name" required
								ng-model="userForm.firstName">
						</div>
						<div class="w3-col s6">
							<label> <b>Last name</b></label> <input id="lastname"
								class="w3-input w3-border w3-hover-border-black " type="text"
								placeholder="Enter last name" required
								ng-model="userForm.lastName">
						</div>
					</div>
					<div class="w3-row-padding">
						<div class="w3-col s6">
							<label><b>Username</b></label> <input id="username"
								class="w3-input w3-border w3-hover-border-black " type="text"
								placeholder="Username" required
								ng-model="userForm.username">
						</div>
						<div class="w3-col s6">
							<label> <b>Email</b></label> <input id="email"
								class="w3-input w3-border w3-hover-border-black " type="email"
								placeholder="Enter email address"
								ng-model="userForm.email">
						</div>
					</div>
					<div class="w3-row-padding">
						<div class="w3-col s6">
							<label><b>Phone number</b> </label> <input id="phone"
								class="w3-input w3-border w3-hover-border-black " type="text"
								placeholder="Enter phone number" ng-model="userForm.phoneNumber">
						</div>
						<div class="w3-col s6">
							<label><b>Enable user</b></label> <input type="checkbox"
								class="w3-check w3-input" id="enable" ng-model="userForm.enabled">
						</div>
					</div>
					<div class="w3-row-padding">
						<div class="w3-col s6">
							<label> <b>Password</b>
							</label> <input id="password"
								class="w3-input w3-border w3-hover-border-black "
								type="password" placeholder="Enter Password" pattern=".{6,}" required
								ng-model="userForm.password">
						</div>
						<div class="w3-col s6">
							<label> <b>Verify password</b>
							</label> <input id="verifypass"
								class="w3-input w3-border w3-hover-border-black "
								type="password" placeholder="Verify Password" required
								ng-model="userForm.verifypassword">
						</div>
					</div>
					<div id="checkDiv" class="w3-row-padding w3-margin-bottom">
					<span class="w3-col"> <b>Roles</b></span><br>
						<div class="w3-col l3 m4 s6" ng-repeat="role in roleList">
							<input id="{{ role.name }}" class="w3-check" name="{{ role.name }}" 
							type="checkbox" ng-model="userForm.roles[$index][role.name]">
							<label for="{{ role.name }}">{{ role.name }}</label>
						</div>
					</div>
					<button type="submit"
						class="w3-btn w3-btn-block w3-blue-grey w3-margin-bottom" ng-disabled="newUserForm.$pristine">Save user</button>
					<button type="button"
						class="w3-btn w3-btn-block w3-blue-grey w3-margin-bottom"
						ng-click="showHide('addUserView')">Exit</button>
				</form>
			</div>
		</div>
	</div>
	<div id="userListView" class="modal"
		ng-hide="userListShowHide">
		<div id="userListmodal"
			class="w3-modal-content w3-card-8 w3-animate-zoom">
			<div class="w3-blue-grey w3-padding-ver-16">
				<span ng-click="showHide('userListView')" class="w3-closebtn">&times;</span>
				<h3>SET user list</h3>
			</div>
			<div id="constrainer" class="w3-responsive">
				<table id="userTable"
					class="w3-table w3-bordered w3-border w3-hoverable w3-accordion">
					<thead>
						<tr class="w3-light-grey">
							<th>User ID</th>
							<th>First name</th>
							<th>Last name</th>
							<th>Username</th>
							<th>Email address</th>
							<th>Phone number</th>
							<!-- <th>Role</th> -->
							<th>Enabled</th>
						<!-- 	<th>Password reset</th> -->
							<th><i class="fa fa-search"  aria-hidden="true"  ng-click="expandRow('userSearchRow')"></i></th>
						</tr>
						<tr id="userSearchRow" class="w3-accordion-content hiddenRow">
							<td><input type="number" min="1" id="searchID" placeholder="ID"></td>
							<td><input type="text" placeholder="First Name"></td>
							<td><input type="text" placeholder="Last Name"></td>
							<td><input type="text" placeholder="Username"></td>
							<td><input type="text" placeholder="Email"></td>
							<td><input type="text" placeholder="Phone number"></td>
							<td><select class="w3-select" name="activeUser"><option value="enabled">Enabled</option><option value="disabled">Disabled</option></select></td>
							<td> </td>
						</tr>
					</thead>
					<tbody id="usersTableBody" class="w3-accordion">
						<tr ng-repeat-start="user in users">
							<td>{{ user.userId }}</td>
							<td>{{ user.firstName }}</td>
							<td>{{ user.lastName }}</td>
							<td>{{ user.username }}</td>
							<td>{{ user.email }}</td>
							<td>{{ user.phoneNumber }}</td>
							<!-- <td>{{ user.roles.length > 0 ? "-" : user.roles.name }}</td> -->
							<td>{{ user.enabled }}</td>
							<!-- <td>{{ resetPassword }}</td> -->
							<td><i class="fa fa-info-circle"  aria-hidden="true"  ng-click="expandRow(user.username)"></i></td>
						</tr>
						<tr id="{{ user.username }}" class="w3-accordion-content hiddenRow" ng-repeat-end="">
							<td colspan="8"><div>¡Hola!</div><div>Si, senor?</div></td>
						</tr>
					</tbody>
				</table>
				<!-- <div class="w3-center">
				<ul class="w3-pagination w3-border">
					<li><a href="#">«</a></li>
					<li><a class="w3-green" href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li><a href="#">»</a></li>
				</ul>
				</div> -->
			</div>
		</div>
	</div>
	<div id="manageRolesView" class="modal"
		ng-hide="manageRolesShowHide">
		<div id="manageRolesModal"
			class="w3-modal-content w3-card-8 w3-animate-zoom">
			<div class="w3-blue-grey w3-padding-ver-16">
				<span ng-click="showHide('manageRolesView')" class="w3-closebtn">&times;</span>
				<h3>SET manage roles</h3>
			</div>
			<div id="constrainer" class="w3-responsive">
				<table id="rolesTable"
					class="w3-table w3-bordered w3-striped w3-border w3-hoverable w3-accordion">
					<thead>
						<tr class="w3-light-grey">
							<th>Role ID</th>
							<th>Role name</th>
							<th>Description</th>
							<th>Enabled</th>
							<th><i class="fa fa-search"  aria-hidden="true"  ng-click="expandRow('rolesSearchRow')"></i></th>
						</tr>
						<tr id="rolesSearchRow" class="w3-accordion-content hiddenRow">
							<td><input type="number" min="1" id="searchID" placeholder="ID"></td>
							<td><input type="text" placeholder="Role name"></td>
							<td><input type="text" placeholder="Description"></td>
							<td><select class="w3-select" name="activeRole"><option value="enabled">Enabled</option><option value="disabled">Disabled</option></select></td>
							<td> </td>
						</tr>
					</thead>
					<tbody id="rolesTableBody">
						<tr id="{{role.name}}" ng-repeat="role in roleList">
							<td>{{ role.roleId }}</td>
							<td>{{ role.name }}</td>
							<td>{{ role.description }}</td>
							<td>{{ role.enabled }}</td>
							<td><i class="fa fa-info-circle"  aria-hidden="true"  ng-click="expandRow(role.name)"></i></td>
						</tr>
					</tbody>
				</table>
				<div id="inputRolesDiv" class="w3-display-bottommiddle">
					<form name="newRoleForm" class="w3-row-padding" ng-submit="submitRole()">
						<div class="w3-col s2">
							<label><b>Role</b></label> <input id="roleName" type="text"
								class="w3-input w3-border w3-hover-border-black"
								placeholder="Enter role name" ng-model="roleForm.name" required>
						</div>
						<div class="w3-col s7">
							<label><b>Description</b></label> <input id="roleDescription"
								type="text" class="w3-input w3-border w3-hover-border-black"
								placeholder="Enter role description" ng-model="roleForm.description" required>
						</div>
						<div class="w3-col s1">
							<label><b>Enable</b></label> <input id="roleEnable"
								type="checkbox" class="w3-check w3-input" ng-model="roleForm.enabled">
						</div>
						<div class="w3-col s2">
							<label>.</label>
							<button type="submit"
								class="w3-btn w3-btn-block w3-blue-grey" ng-disabled="newRoleForm.$pristine || newRoleForm.name.$invalid || newRoleForm.description.$invalid">Save</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>