<!--
För att göra radbrytning, använd <br>.

ex.
Lorem<br>Ipsum

visas som:
Lorem
Ipsum

Stycken skrivs: <p>Min styckestext</p>
 -->

<p class="w3-large">
<!-- Ingress start -->
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
scelerisque sem sit amet lectus tincidunt, at pulvinar libero cursus.
Suspendisse ultrices sagittis dolor in pellentesque.
<!-- Ingress slut -->
</p>

<p>
Aenean lorem orci, fermentum id interdum nec, efficitur sit amet
augue. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
posuere cubilia Curae; Donec accumsan gravida nunc vitae pellentesque.
</p>

<!-- Stor lista -->
<ul class="w3-ul w3-large">
  <li>Endast de bästa råvarorna används i både nyskapande
såväl som klassiska rätter</li>
  <li>Du kommer märka att menyn på Grythyttans Gästgivaregård förändras
i takt med säsongen</li>
  <li>Vi vill ta med dig på en kulinarisk resa och
fortsätta göra långsiktiga avtryck på den gastronomiska kartan</li>
  <li>Endast de bästa råvarorna används i både nyskapande
såväl som klassiska rätter</li>
  <li>Du kommer märka att menyn på Grythyttans Gästgivaregård förändras
i takt med säsongen</li>
  <li>Vi vill ta med dig på en kulinarisk resa och
fortsätta göra långsiktiga avtryck på den gastronomiska kartan</li>
</ul>
<br>