<!--
För att göra radbrytning, använd <br>.

ex.
Lorem<br>Ipsum

visas som:
Lorem
Ipsum

Stycken skrivs: <p>Min styckestext</p>
 -->

<h2 class="w3-text-theme">Ansvarsområden</h2>

<span class="w3-large">Inköp/beställning:</span>

<div class="w3-responsive">
  <table class="w3-table w3-striped w3-bordered w3-border">
    <tr>
      <td>Råvaror och livsmedel</td>
      <td>Köksmästare XX</td>
    </tr>
    <tr>
      <td>Tvätt</td>
      <td>Hurfru XX</td>
    </tr>
    <tr>
      <td>Förbrukningsvaror</td>
      <td>XX</td>
    </tr>
  </table>
</div>
<br>