<!--
För att göra radbrytning, använd <br>.

ex.
Lorem<br>Ipsum

visas som:
Lorem
Ipsum

Stycken skrivs: <p>Min styckestext</p>
 -->

<h2 class="w3-text-theme">Ansvarsområden</h2>

<h4>Inköp/Beställning</h4>
<table class="w3-table w3-striped w3-bordered w3-border tableLeft2col w3-margin-bottom">
<tr>
  <td>Råvaror och livsmedel</td>
  <td>Köksmästare XX</td>
</tr>
<tr>
  <td>Tvätt</td>
  <td>Husfru XX</td>
</tr>
<tr>
  <td>Förbrukningsvaror</td>
  <td>XX</td>
</tr>
<tr>
  <td>Vin</td>
  <td>XX</td>
</tr>
<tr>
  <td>Bar</td>
  <td>XX</td>
</tr>
<tr>
  <td>Blommor</td>
  <td>XX</td>
</tr>
</table>

<h4>Schemaläggning</h4>
<table class="w3-table w3-striped w3-bordered w3-border tableLeft2col w3-margin-bottom">
<tr>
  <td>Matsal</td>
  <td>XX</td>
</tr>
<tr>
  <td>Kök</td>
  <td>XX</td>
</tr>
<tr>
  <td>Reception</td>
  <td>XX</td>
</tr>
<tr>
  <td>Städ</td>
  <td>XX</td>
</tr>
</table>

<h4>Övrigt</h4>
<table class="w3-table w3-striped w3-bordered w3-border tableLeft2col w3-margin-bottom">
<tr>
  <td>Aktiviteter</td>
  <td></td>
</tr>
<tr>
  <td>Egenkontrollprogram</td>
  <td></td>
</tr>
<tr>
  <td>Festvåning</td>
  <td></td>
</tr>
<tr>
  <td>Reception</td>
  <td></td>
</tr>
<tr>
  <td>Städ</td>
  <td></td>
</tr>
<tr>
  <td>Frukost</td>
  <td></td>
</tr>
<tr>
  <td>Bokning</td>
  <td></td>
</tr>
<tr>
  <td>Marknadsföring</td>
  <td></td>
</tr>
</table>