<!--
För att göra radbrytning, använd <br>.

ex.
Lorem<br>Ipsum

visas som:
Lorem
Ipsum

Stycken skrivs: <p>Min styckestext</p>
 -->

<p class="w3-large">
<!-- Ingress start -->
Vi älskar mat! Hos oss står den goda maten och
drycken alltid i centrum. Vi vill ta med dig på en kulinarisk resa och
fortsätta göra långsiktiga avtryck på den gastronomiska kartan.
<!-- Ingress slut -->
</p>

<table class="w3-table w3-striped w3-bordered w3-border">
<tr>
  <th>Namn</th>
  <th>Avdelning</th>
  <th>Telefonummer</th>
</tr>
<tr>
  <td>Anna Eriksson</td>
  <td>Konsult</td>
  <td>071 2345 678</td>
</tr>
<tr>
  <td>Bengt Johansson</td>
  <td>Service</td>
  <td>071 2345 678</td>
</tr>
<tr>
  <td>Johanna Svärd</td>
  <td>Service</td>
  <td>071 2345 678</td>
</tr>
<tr>
  <td>Bengt Rudh</td>
  <td>Reception</td>
  <td>071 8765 432</td>
</tr>
<tr>
  <td>Loffe Nilsson</td>
  <td>Konsult</td>
  <td>071 2345 678</td>
</tr>
</table>
<br>
