<!--
För att göra radbrytning, använd <br>
.

ex.
Lorem<br>
Ipsum

visas som:
Lorem
Ipsum

Stycken skrivs: <p>Min styckestext</p>
<hr>

 -->

<h2 class="w3-text-theme">
  Ordbok
</h2>

<h4>Sous Vide</h4>
<p>
Betyder under vakuum på franska och är en speciell metod för att laga långkok. I Sous Vide förseglar man maten i en vakuumpåse och kokar det i vatten på en låg temperatur mellan 50 och 60°C. Det finns speciella Sous Vide-kokare som gör processen enklare. Med Sous Vide blir köttet eller grönsakerna väldigt jämnt tillagade vilket skapar en trevlig saftighet som kan vara svår att uppnå vid vanliga långkok.
<br>
På ren svenska: Soo Vidd
</p>
<hr>

<h4>Sauteuse</h4>
<p>
Ordet sauté betyder ungefär att kasta på franska och används i köket i samband med en snabb stekning där man kastar det som steks i stekpannan eller kastrullen. På så vis får maten färg snabbt utan att brännas. En sauteuse är en blandning mellan en stekpanna och en kastrull som används för att sautera.
<br>
På ren svenska: Såtös
</p>
<hr>

<h4>Haut cuisine</h4>
<p>
La Haut Cuisine avser fin mat som serveras på en restaurang. Uttrycket kan översättas lite slarvigt rakt över på svenska till övre kokkonst.  
<br>
På ren svenska: Ått qwusin
</p>
<hr>

<h4>Fondue</h4>
<p>
Fondue har säkert de flesta ätit men vad betyder fondue? Fondue är en böjning av det franska verbet för att smälta. Om man säger fondue så anspelar sig det i Frankrike på ostfondue. Vill man istället ha en köttfondue så säger man fondue bourguignonne.
<br>
På ren svenska: Fonn dy
</p>
<hr>

<h4>Coq au vin</h4>
<p>
En fransk rätt som kort och gott betyder tupp i vin. Vilket också är ungefär vad det är. Dock så används oftast kyckling i denna härliga gryta.
<br>
På ren svenska: Kock oa vö
</p>
<hr>

<h4>Aperitif</h4>
<p>
En liten, ofta alkoholhaltig drink som dricks före maten för att reta aptiten. Ordet kommer från latinets aperire som betyder öppna. En aperitif är således en liten öppnare.
<br>
På ren svenska: Apär tiff
</p>
<hr>

<h4>Escargots</h4>
<p>
Något som känns rätt avlägset för många i Sverige är att äta sniglar, eller escargots som det heter på franska. Faktum är att sniglar är riktigt gott med rätt kryddning och tillagning. Speciellt som en liten förrätt. Värt att testa!
<br>
På ren svenska: Eskargås
</p>
<hr>

<h4>Raclette</h4>
<p>
Ordet raclette kommer från det franska verbet racler som betyder att skrapa eller att skava. En rätt som består av en speciell sorts smält ost. Det är lättast att göra raclette i ett elektriskt raclettejärn.
<br>
På ren svenska: Racklätt
</p>
<hr>

<h4>À la minute</h4>
<p>
Betyder på minuten och innebär att maten serveras direkt på beställning.
<br>
På ren svenska: A la minytt
</p>
<hr>

<h4>Avec</h4>
<p>
Är sprunget ur det något längre uttrycket du café avec le petit verre som översatt till svenska betyder kaffe med det lilla glaset. Avec betyder kort och gott med och en avec är en alkoholhaltig dryck som dricks tillsammans med kaffet.
<br>
På ren svenska: Aväck
</p>
<hr>

<h4>Julienne</h4>
<p>
Julienne innebär att man skivar grönsaker i tunna strimlor. Namnet tros härstamma från det franska namnet Julie. Man kan göra Julienne både genom att använda en vass kniv eller en särskild juliennestrimlare. Juliennegrönsaker blir fantastiskt härliga i en sallad till exempel.
<br>
På ren svenska: Tjulijenn
</p>
<hr>

<h4>Pot au feu</h4>
<p>
Du har säkert hört talas om ett Pot Pourri. Uttrycket används ungefär som lite av varje på svenska. Faktum är att uttrycket Pot Pourri var det ursprungliga namnet på grytan pot au feu. En pot au feu är en enkel gryta som är gjord på biffkött och grönsaker i blandad variation. Pot au feu är en traditionell gryta som ätits av både rika och fattiga i Frankrike sedan 1600-talet. Uttrycket betyder gryta på elden.
<br>
På ren svenska: Pottafo
</p>
<hr>

<h4>Baguette</h4>
<p>
Du vet antagligen redan vad en baguette är men du vet nog inte vad ordet baguette betyder. Det avlånga delikata brödet, är även det franska ordet för stav eller batong. Baguetten är förmodligen det som folk oftast förknippar med
fransk mat och har blivit en del av den franska stereotypiska karikatyren med en basker, randig tröja, scarf, mustasch och en baguette under armen. Baguetter är lätta och trevliga att baka om du har en baguetteplåt hemma.
<br>
På ren svenska: Bagätt
</p>

<br>
