<!--
För att göra radbrytning, använd <br>.

ex.
Lorem<br>Ipsum

visas som:
Lorem
Ipsum

Stycken skrivs: <p>Min styckestext</p>
 -->
 
<h2 class="w3-text-theme">
  Målsättningar
</h2>

<span class="w3-large">Öka omsättningen med 10% från 2015.</span>
<br>
<ul class="w3-ul">
  <li>Delta i två nya mässor under året.</li>
  <li>Erbjuda ett förmånligt paket till alla företag och grupper som redan varit hos oss. </li>
</ul>
<br>

<span class="w3-large">Öka vinst med 100.000kr från 2015.</span>
<br>
<ul class="w3-ul">
  <li>Leda varje grupp genom souvenirshopen minst en gång under deras besök så att vi får sålt det som ligger i lager från förra året. </li>
  <li>Erbjuda kaffe och chokladkaka till varje middagsgäst. </li>
  <li>Erbjuda dryckespaket vid varje bokningstillfälle. </li>
  <li>Hitta en mer prisvärd leverantör på förbrukningsmaterial.  </li>
</ul>
<br>

<span class="w3-large">Höja rating på Tripadvisor från 3,5 till 4,5.</span>
<br>
<ul class="w3-ul">
  <li>Ta fram en tydligare strategi för klagomålhantering.</li>
  <li>Byta ut stolarna i extra matsalen till något bekvämare med mjuk sits och rygg.</li>
  <li>Se till att serveringspersonalen och kökspersonalen inte låter någon tallrik som inte håller måttet gå ut i matsalen.</li>
</ul>
<br>