<!--
För att göra radbrytning, använd <br>.

ex.
Lorem<br>Ipsum

visas som:
Lorem
Ipsum

Stycken skrivs: <p>Min styckestext</p>
 -->

<p class="w3-large">
<!-- Ingress start -->
Ordbok
<!-- Ingress slut -->
</p>

<p>
Aenean lorem orci, fermentum id interdum nec, efficitur sit amet
augue. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
posuere cubilia Curae; Donec accumsan gravida nunc vitae pellentesque.
</p>

<table class="w3-table w3-striped w3-bordered w3-border">
<tr>
  <th>Ord </th>
  <th>Betydelse</th>
</tr>
<tr>
  <td>Integer </td>
  <td>Morbi cursus aliquam sapien eget pharetra.</td>
</tr>
<tr>
  <td>Suspendisse </td>
  <td>Etiam in aliquet elit.</td>
</tr>
<tr>
  <td>Aenean </td>
  <td>Donec rhoncus non enim in dapibus.</td>
</tr>
</table>

<br>