<!--
För att göra radbrytning, använd <br>.

ex.
Lorem<br>Ipsum

visas som:
Lorem
Ipsum

Stycken skrivs: <p>Min styckestext</p>
 -->

<p class="w3-large">
<!-- Ingress start -->
Utbildningar
<!-- Ingress slut -->
</p>

<p>
Aenean lorem orci, fermentum id interdum nec, efficitur sit amet
augue. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
posuere cubilia Curae; Donec accumsan gravida nunc vitae pellentesque.
</p>

<table class="w3-table w3-striped w3-bordered w3-border">
<tr>
  <th>Namn</th>
  <th>Avdelning</th>
</tr>
<tr>
  <td>Anna Eriksson</td>
  <td>Konsult</td>
</tr>
<tr>
  <td>Bengt Johansson</td>
  <td>Service</td>
</tr>
<tr>
  <td>Johanna Svärd</td>
  <td>Service</td>
</tr>
<tr>
  <td>Bengt Rudh</td>
  <td>Reception</td>
</tr>
<tr>
  <td>Loffe Nilsson</td>
  <td>Konsult</td>
</tr>
</table>
<br>