<div class="md-padding" id="popupContainer" ng-cloak>
    <div class="dialog-demo-content" layout="row" layout-wrap="" layout-margin="" layout-align="center">
        <md-input-container>
            <md-button class="md-primary md-raised" ng-click="showAdvanced($event)">
                Lägg till pass i Schemat
            </md-button>
        </md-input-container>
    </div>

    <div hide-gt-sm="" layout="row" layout-align="center center" flex="">
        <md-checkbox ng-model="customFullscreen" aria-label="Fullscreen Custom Dialog">Custom Dialog Fullscreen</md-checkbox>

    </div>
    <div ng-if="status">
        <br>
        <b layout="row" layout-align="center center" class="md-padding">
                  {{status}}
                 </b>
    </div>
</div>

<script type="text/ng-template" id="dialog1.tmpl.html">
    <md-dialog aria-label="Lägg till" ng-cloak>
        <form>
            <!-- Toolbar visas högst upp med en header och en stängknapp -->
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Lägg till ett pass</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="cancel()">
                        <md-icon aria-label="Close dialog"><i class="material-icons">close</i></md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-dialog-content>
                <div class="md-dialog-content">
                    <h2>Lägg till ett pass</h2>
                    <!-- Använd en lista i mdDialog , md-list-->
                    <div layout="column">
                        <!-- Lista på medarbetare -->
                        <md-input-container>
                            <md-select-header>
                                <span> Avdelning - </span>
                            </md-select-header>
                            <md-select ng-model="employeeSelected" placeholder="{{employeeSelected.name}}">
                                <md-option ng-value="x" ng-repeat="x in departments">{{ x.name }}</md-option>
                            </md-select>
                        </md-input-container>

                        <!-- Lista på medarbetare -->
                        <md-input-container>
                            <md-select-header>
                                <span> Medarbetare - </span>
                            </md-select-header>
                            <md-select ng-model="departmentSelected" placeholder="{{departmentSelected.name}}">
                                <md-option ng-value="x" ng-repeat="x in employees">{{ x }}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>


                    <md-datepicker ng-model="user.submissionDate" md-placeholder="Enter date" class="md-block">
                    </md-datepicker>

                    <div layout="rows">
                        <!-- Lista på startTid -->
                        <md-input-container>
                            <input type="time" id="startTime" aria-label="startTime" placeholder="Start tid">
                        </md-input-container>

                        <!-- Lista på slutTid -->
                        <md-input-container>
                            <input type="time" id="endTime" width="10" aria-label="endTime" placeholder="Slut tid">
                        </md-input-container>
                    </div>
                </div>

            </md-dialog-content>

            <md-dialog-actions layout="row">
                <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
                    More on Wikipedia
                </md-button>
                <span flex></span>
                <md-button ng-click="answer('Lägg till')">
                    Lägg till
                </md-button>
                <md-button ng-click="answer('Avbryt')" style="margin-right:20px;">
                    Avbryt
                </md-button>
            </md-dialog-actions>

        </form>
    </md-dialog>
</script>