<button onclick="document.getElementById('id01').style.display='block'" class="w3-btn">Lägg till ett event</button>

<div id="id01" class="w3-modal">
  <div class="w3-modal-content" style="width: 30%">
    <header class="w3-container w3-theme-l5"> 
      <span onclick="document.getElementById('id01').style.display='none'" 
      class="w3-closebtn">&times;</span>
      <h2>Lägg till ett Pass</h2>
    </header>
    <div class="w3-container">
      
      <div ng-include="'app/schedule/templates/forms/formShift.tmpl.html'"></div>
      
    </div>
    <footer class="w3-container">
      <p>Schema Applikation - SET</p>
    </footer>
  </div>
</div>
         